<div class="container mobile-slider" id="mobile-gallery" style="display:none">
  <ul class="slides">
                    {% for media in product.media %}
    <li id="slide{{ forloop.index}}"><img src="{{ media.src | img_url:'master' }}" alt="" /></li>

    
<!--     <li id="slide2"><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/products/thenamestamp-luxury-animal-stamps-new-869512_720x720.jpg?v=1658621403" alt="" /></li>
    <li id="slide3"><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/products/thenamestamp-luxury-animal-stamps-new-213366_720x720.jpg?v=1658621403" alt="" /></li>
    <li id="slide4"><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/products/thenamestamp-luxury-animal-stamps-new-411946_720x720.jpg?v=1658621403" alt="" /></li>
    <li id="slide5"><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/products/thenamestamp-luxury-animal-stamps-new-239732_720x720.jpg?v=1658621403" alt="" /></li> -->
                 {% endfor %}

                      </ul>

  <ul class="thumbnails">
    {% for media in product.media %}
    <li>
      <a href="#slide{{ forloop.index}}"><img src="{{ media.src | img_url:'master' }}" /></a>
    </li>
      {% endfor %}
<!--     <li>
      <a href="#slide2"><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/products/thenamestamp-luxury-animal-stamps-new-869512_720x720.jpg?v=1658621403" /></a>
    </li>
    <li>
      <a href="#slide3"><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/products/thenamestamp-luxury-animal-stamps-new-213366_720x720.jpg?v=1658621403" /></a>
    </li>
    <li>
      <a href="#slide4"><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/products/thenamestamp-luxury-animal-stamps-new-411946_720x720.jpg?v=1658621403" /></a>
    </li>
    <li>
      <a href="#slide5"><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/products/thenamestamp-luxury-animal-stamps-new-239732_720x720.jpg?v=1658621403" /></a>
    </li> -->
  </ul>
</div>
<style>
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.mobile-slider{
  margin-top:20px;
}
.container {
  display: flex;
  justify-content: center;
}

.thumbnails {
/*   display: flex; */
  flex-direction: column;
  line-height: 0;
}
li{
    list-style: none

}
.thumbnails li {
  flex: auto;
  list-style: none
}
.thumbnails a {
  display: block;
}
.thumbnails img {
  width: 30vmin;
  height: 20vmin;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.slides {
overflow: hidden;
    width: 115vmin;
    height: 60vmin;
    margin: 0 0 30px 0px;
}
.slides li {
  width: 75vmin;
  height: 100vmin;
  position: absolute;
  z-index: 1;
}
.slides img {
  height: 70vmin;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@-webkit-keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
</style>
